# Editor configs
.idea
.npmignore

# Exclude files
node_modules
.czrc
.npmrc
.yarnrc
yarn.lock
package-lock.json
.coveralls.yml

# Log files
yarn-error.log
npm-debug.log

# Output
release
output
test/coverage

# env file
.env
